.SettingsOptionWrapper{
    display: flex;
    height: 80vh;
    width: 85vw;
    margin-left: 10vw;
    justify-content: center;
}
@media screen and (max-width: 650px){
    .SettingsOptionWrapper{
        margin-top: 7vh;
    }
}