.OptionsContainer{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;
    height: 10vh;
    background-color: #DBE2EF;
    list-style-type: none;

}
.Options{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    color: #112D4E;
    margin: 1vw;
}
.OptionsText{
    font-size: 1.3em;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;
    justify-content: space-between;
}
.hoveredName {
    display: none;
    position: absolute;
    background-color: #F9F7F7;
    border: 1px solid #112D4E;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5vh ;
}
@media screen and (max-width: 800px){
    .OptionsText{
        display: none;
    }
    .hoveredName {
        display: block;
    }
}
@media screen and (max-width: 650px) {
    .Options{
        margin: 20px;
        margin-top: 11vh;
    }
    .OptionsText{
        display: none;
    }
    .hoveredName {
        display: block;
        margin-top: 18vh ;
    }
}