.containerTabla {
    font-size: 15px;
}

.home {
    height: 1000px;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15%;
}

.searchBar {
    margin-right: 10px;
    justify-content: center;
    display: flex;
    border-color: #112D4E;
    background-color: #DBE2EF;
    width: 130px;
    height: 30px;
}

.buttonRefetch {
    justify-content: center;
    display: flex;
    border-color: #112D4E;
    background-color: #DBE2EF;
    height: 30px;
    align-items: center;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    justify-content: center;
    margin-top: 30px;
    margin-left: 15%;
    /* width: fit-content; */
}

.tableHeader {
    border: 2px solid #112D4E;
    text-align: left;
    padding: 8px;
    background-color: #3F72AF;
    color: #DBE2EF;
    /* width: fit-content; */
    cursor: pointer;
}

.tableCell {
    border: 2px solid #112D4E;
    text-align: left;
    padding: 8px;
    background-color: #DBE2EF;
    /* width: 120px; */
    width: fit-content;
}

.bottonAdd {
    display: block;
    align-items: center;
    margin-left: 15px;
    /* width: 15%; */
    width: fit-content;
    height: 30px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #F9F7F7;
    background-color: #3F72AF;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.bottonAdd:hover {
    background-color: #112D4E;
}

@media screen and (max-width: 650px) {
    .containerTabla{
        margin-top: 100px;
        margin-left: 200px;
        width: 200%;
        /* background-color: #112D4E; */
    }
    .bottonAdd{
        display: flex;
        margin-left: 15px;
        justify-content: center;
        width: 15%;
        padding: 5px;
        margin-top: 0px;
        border: none;
        border-radius: 4px;
        font-size: 15px;
    }
    .tableCell {
        width: fit-content;
    }
    .table {
        width: 200vw;
    }
}